body  {
	font-family: 'Stylish', sana-serif;
	font-weight:300;
	
}
h6,
h5,
h4,
h3,
h2,
h1, {
	font-family: 'Rubik Mono One', sana-serif;
    font-weight:600;
	
}

.navber-brand img {word-width:150px}

footer {background-color:blue;color:#fff}